<header class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="header-navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/static-page/about-us" routerLinkActive="active" class="nav-link" aria-current="page">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/static-page/request-support" routerLinkActive="active" class="nav-link" aria-current="page">Request Support?</a>
          </li>
          <li class="nav-item">
            <a routerLink="{{eventsRouteCreator.eventAgency()}}" routerLinkActive="active" class="nav-link" aria-current="page">Event Agency</a>
          </li>
        </ul>
        @if (auth.hasToken()) {
          <div class="dropdown text-end">
            <a href="#" class="btn d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" (click)="logout()">Sign out</button></li>
            </ul>
          </div>
        } @else {
          <div class="d-flex">
            <a routerLink="/home/auth/sign-in" class="btn btn-outline-primary me-2">Sign In</a>
            <a routerLink="/home/auth/sign-up" fragment="executor" class="btn btn-primary">Sign Up</a>
          </div>
        }
      </div>
    </div>
  </nav>
</header>
