<footer>
  <div class="b-example-divider"></div>
  <div class="container py-4">
    <div class="row row-cols-md-2 mb-3">
      <div class="col">
        <h5>How does it work?</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/home/how-it-works/executor" class="nav-link p-0 text-body">Для исполнителя</a></li>
          <li class="nav-item mb-2"><a routerLink="/home/how-it-works/organizer" class="nav-link p-0 text-body">Для организатора</a></li>
          <li class="nav-item mb-2"><a routerLink="/home/how-it-works/visitor" class="nav-link p-0 text-body">Для посетителя</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Subscribe to our newsletter</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="row row-cols-md-2">
      <div class="col">
        <span>© {{ currentYear() }} Company, Inc. All rights reserved.</span>
      </div>
      <div class="col">
        <ul class="list-inline mb-auto">
          <li class="list-inline-item">
            <a routerLink="/home/how-it-works/executor" class="text-body">Terms of Use</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/home/how-it-works/executor" class="text-body">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
