<button class="btn" (click)='increment()'>{{count}}</button>
<button class="btn" (click)='showAlert("Alert Content")'>Show Alert</button>
<button class="btn" (click)='showPopup()'>Show Popup</button>
<div style="text-align:center;">
  <a href="https://ton.org/">Ton.org</a>
</div>
<h1>Modals</h1>
<button (click)="showAlert('Hello World!');">Launch Alert</button>
<button (click)="showPopup();">Launch Popup</button>

<h1>Links</h1>
<ul>
  <li>
    <a (click)="openTelegramLink('https://t.me/trendingapps');">Open link within Telegram</a>
  </li>
  <li>
    <a (click)="openLink('https://ton.org/');">Open link in external browser</a>
  </li>
  <li>
    <a (click)="openLink('https://telegra.ph/api',{try_instant_view:true});">Open link inside Telegram webview</a>
  </li>
</ul>

<h1>Buttons</h1>
<button (click)="expand();">Expand Webview</button>
<button (click)="toggleMainButton()">Toggle Main Button</button>
<button (click)="toggleSettingsButton()">SettingsButton</button>
<button (click)="toggleBackButton()">BackButton</button>
<div id="viewport"></div>
<div id="viewport-params-size"></div>
<div id="viewport-params-expand"></div>
