<div class="form-floating mb-3">
  <input type="text" class="form-control" placeholder="Title" id="form-title" formControlName="title" [ngClass]="{
            'is-invalid': isInvalidTitle,
            'is-valid': parentForm.valid,
          }">
  <label for="form-title">Title</label>
  <div class="invalid-feedback" *ngIf="isInvalidTitle">
    {{ validationErrors(titleErrors, 'Title') }}
  </div>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" placeholder="Description" id="form-description" formControlName="description"
         [ngClass]="{
            'is-invalid': isInvalidDescription,
            'is-valid': parentForm.valid,
          }">
  <label for="form-description">Description</label>
  <div class="invalid-feedback" *ngIf="isInvalidDescription">
    {{ validationErrors(descriptionErrors, 'Description') }}
  </div>
</div>
