<section class="accent-border accent-border-top accent-bg-shadow card rounded-5">
  <div class="hstack p-3 pb-0">
    <span class="m-auto text-center h5">Transactions</span>
    <div class="form-floating ms-auto">
      <select class="form-select rounded-4" id="period" aria-label="Select period">
        <option value="1" selected>Day</option>
        <option value="2">Week</option>
        <option value="3">Month</option>
      </select>
      <label for="period">Period</label>
    </div>
  </div>
  @if(!chartCategories.length) {
    {{ chartCategories.length }}
  } @else {
    <div class="card-body p-2">
      <chart-categories-doughnut [chartCategories]="chartCategories"></chart-categories-doughnut>
    </div>
    <div class="card-body p-2">
      <chart-categories-list [chartCategories]="chartCategories"></chart-categories-list>
    </div>
  }
  <nav aria-label="Page navigation" class="sticky-bottom p-2 bg-blur">
    <ul class="pagination pagination-lg jcb m-0 w-100">
      <li class="page-item"><a class="page-link color-accent" href="#">
        <svg class="bi">
          <use [attr.xlink:href]="'#' + symbols.chevronLeft"/>
        </svg>
      </a></li>
      <li class="w-100 text-center"><a href="#" class="page-link color-accent">Current</a></li>
      <li class="page-item">
        <a class="page-link color-accent" href="#">
          <svg class="bi">
            <use [attr.xlink:href]="'#' + symbols.chevronRight"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</section>
