<section class="accent-border accent-border-top accent-bg-shadow card rounded-5">
  <div class="hstack p-3 pb-0 color-accent">
    <span class="m-auto text-center h5">Edit</span>
    <div class="p-4">
      <svg class="bi">
        <use [attr.xlink:href]="'#' + symbols.gearFill"/>
      </svg>
    </div>
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="save()" class="p-3">
    <transaction-inputs [parentForm]="transactionForm" [transactionItem]="transactionItem"></transaction-inputs>
  </form>
</section>
