@import "variables";
@import "common";

header {
  background: var(--tg-theme-header-bg-color);
  color: var(--tg-theme-section-header-text-color);
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin: 48px 24px;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}
main {
  display: flex;
  flex-direction: column;
}

a, .link {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

//.bg-secondary {
//  background: var(--tg-theme-secondary-bg-color);
//}

.btn {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 15px;
  border-radius: 10px;
}

.color-hint {
  color: var(--tg-theme-hint-color);
}

.color-accent {
  color: var(--tg-theme-accent-text-color);
}

.color-subtitle {
  color: var(--tg-theme-subtitle-color);
}

.color-destructive-text {
  color: var(--tg-theme-destructive-text-color);
}

.bg-bottom-bar {
  background: var(--tg-theme-bottom-bar-bg-color);
}

.bg-section {
  background: var(--tg-theme-section-bg-color);
}

.color-header-text {
  color: var(--tg-theme-section-header-text-color);
}

.section-separator-color {
  color: var(--tg-theme-section-separator-color);
}
#viewport {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  pointer-events: none;
  transition: all .2s ease;
}
#viewport:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(45deg, rgba(64, 224, 208, .5), rgba(173, 255, 47, .5)) 1;
}

#viewport-params-size,
#viewport-params-expand {
  content: attr(text);
  position: absolute;
  display: inline-block;
  background: var(--tg-theme-link-color, rgb(64, 224, 208));
  right: 4px;
  left: auto;
  font-size: 8px;
  padding: 4px;
  vertical-align: top;
}
#viewport-params-size {
  top: 4px;
}
#viewport-params-expand {
  top: 30px;
}
