@import "variables";
@import "common";

.header, .offcanvas-header, .card-header {
  background: var(--tg-theme-header-bg-color);
  color: var(--tg-theme-section-header-text-color);
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  color-scheme: var(--tg-color-scheme);
}

.main {
  display: flex;
  flex-direction: column;
}

a, .link {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

.bi {
  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}

.navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}

.jcb {
  display: flex;
  justify-content: space-between;
}
//.bg-secondary {
//  background: var(--tg-theme-secondary-bg-color);
//}

.tg-btn {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}

.accent-bg-shadow {
  box-shadow: 0px -0.5rem 1rem var(--tg-theme-accent-text-color);
}

.accent-border, .form-select.accent-border, .card.accent-border {
  border: solid 1px var(--tg-theme-accent-text-color);
}

.accent-border-top, .card.accent-border-top {
  border-top: solid 3px var(--tg-theme-accent-text-color);
}

.bg-blur {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.color-hint {
  color: var(--tg-theme-hint-color);
}

.color-accent, page-link.color-accent {
  color: var(--tg-theme-accent-text-color);
}

.color-subtitle {
  color: var(--tg-theme-subtitle-color);
}

.color-destructive-text {
  color: var(--tg-theme-destructive-text-color);
}

.footer {
  background: var(--tg-theme-bottom-bar-bg-color);
  text-align: center;
}

.section {
  background: var(--tg-theme-section-bg-color);
  border-radius: .5rem;
}

.color-header-text {
  color: var(--tg-theme-section-header-text-color);
}

.section-separator-color {
  color: var(--tg-theme-section-separator-color);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
