@if (chartCategories.length) {
  <div class="list-group">
    @for (chartCategory of chartCategories; track chartCategory.category.id) {
      <a class="list-group-item hstack pe-0" [routerLink]="routeCreator.chartCategory(chartCategory.category)">
        <div class="rounded-circle d-flex"
             style="width:4rem;height:4rem;background-color:{{ chartCategory.color }};">
          <div class="m-auto">{{ chartCategory.category.label }}</div>
        </div>
        <div class="vstack ps-3 jcc">
          <div class="jcs">
            <div class="text-truncate">{{ chartCategory.category.title }}</div>
          </div>
          <div class="jcb">
            <div>Sum:</div>
            <div>{{ chartCategory.total }}</div>
          </div>
        </div>
        <div class="jcc px-3">
          <svg class="bi">
            <use [attr.xlink:href]="'#' + symbols.chevronRight"/>
          </svg>
        </div>
      </a>
    }
  </div>
}
